use flake

export ASTERISK_USERNAME='admin'
export ASTERISK_PASSWORD='aGR2GF5VfQu7Nvh'
export ASTERISK_HOSTNAME='radioless'
export ASTERISK_PORT=5038
export ASTDB=$(pwd)/astdb.txt
export ASL_NODE=1001
export ASL_CALLSIGN='G4IYT'
