# systemctl edit radioless-oled-display to edit:
# Environment=LUMA_DEVICE=
# Environment=ASTERISK_PASSWORD=
# Environment=ASL_CALLSIGN=
# Environment=ASL_NODE=

[Service]
ExecStartPre=sleep 10
ExecStart=/usr/bin/python3 -m radioless_oled_display
Restart=always

[Install]
WantedBy=multi-user.target
Requires=asterisk.service
After=asterisk.service